.topbar{
    width: 110.7%;
    height: 71px;
    background-color: #350d71;
    position: fixed;
    top: 0;
    scroll-behavior: smooth;
    color: black;
    z-index: 2; 
    overflow-y: hidden;
    color: aliceblue;
    transition: all 1s ease;

}

.barName{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 32px;    
    
}

.Mile{
    display:flex;
    justify-content: space-between;
    margin: 40px 50px;
    align-items: center;
    margin-right: 15px;
    margin-top: 4rem;
}


.topbar a{
    font-size: 30px; 
    color: #deb887;
    font-weight: bold;

}

 .logo{
    justify-content: space-between;
    margin-left: 1rem;
}

.itemsContainer{
     align-items: center;
     font-weight: 300;
     font-size: 16px;
     margin-left: 2rem;
}

.allbars {
    width: 32px;
    height: 25px;
    margin-left: 35rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
    cursor: pointer;
    color: rgb(229, 22, 22);
    scroll-behavior: smooth;

}

.allbars span{
    width: 100%;
    height: 3px;
     background-color: aliceblue;
    color: chartreuse;
    
}

.active1{
    background-color: azure;
    color: black;
}

