/* PatientList.css */
.patient-list-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.search-container {
  margin-bottom: 10px;
}

.patient-list {
  list-style: none;
  padding: 0;
}

.patient-list li {
  margin-bottom: 5px;
}

.patient-list li a {
  text-decoration: none;
  color: #000;
  transition: color 0.2s;
}

.patient-list li a:hover {
  color: blue;
}
