SearchBar.css
.search-bar-container {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .search-bar-container input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .search-bar-container button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .search-bar-container button:hover {
    background-color: #0056b3;
  }
  