.questions{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 10px 30px;
    background: linear-gradient(rgb(111, 111, 248), rgb(58, 56, 56)) ;
    color: black;
    border-radius: 15px;
     margin-bottom: 2rem;
     width: 92%;
     border:  5px solid rgb(252, 249, 249);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      top: 50%;
}

.Answer{
   width: 90%;
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   margin-right: 30rem;

}

.allAnser{ 
    width: 35%;
    padding: 12px 50px;
    text-align: center;
    background: linear-gradient(#523887,#712ce0);
    border: 2px solid white;
    border-radius: 15px;
    font-size: 25px;
    font-weight: 200;
    margin: 0 10px 20px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

p:hover{
    background: rgb(239, 121, 10);
     font-size: 30px;
     font-weight: 500;

}

.allAnser.correct{
    animation: correct 3s ease forwards ;
}


@keyframes correct{
    0%,
    20%,
    42% {
        background: mediumblue;
    }
    20%,
    40%,
    60% {
        background: linear-gradient(rgb(7, 7, 7),rgb(28, 67, 236));
    }
    62%,
    100% {
        background: green;
    }
}

.allAnser.wrong{
    animation: wrong 3s ease forwards ;
}

@keyframes wrong{
    0%,
    20%,
    42% {
        background: rgb(123, 123, 213);
    }
    20%,
    40%,
    60% {
        background: linear-gradient(rgb(72, 70, 70),rgb(12, 44, 189));
    }
    62%,
    100% {
        background: crimson;
    }
}

button{
    padding: 10px 50px;
    margin: 10px 30px;
    margin-top: 1.5rem;
    border-radius: 15px;
    color: rgb(235, 229, 49);
    background-color: #0e0124;
    font-size: 24px;
    font-weight: 600;
    background-color: rgb(112, 144, 144);
    font-weight: 800;
    box-shadow: -4px -6px 7px black;
    overflow-y: hidden;
 
}

button:hover{
    background-color: #0e0124;
    color: cornflowerblue;
}