.AllData{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 10px 20px;
    padding: 10px;
    background-color: rgb(169, 228, 228);
    color: darkgoldenrod;
    font-size: 25px;
    font-style: normal;
    list-style-type: none;
    list-style: none;
    border-radius: 20px;
    margin-top: 0px;

}