.NewLinks{
    display: flex;
    padding: 10px;
    margin: 10px;
    background-color: darkseagreen;
    color: black;
     align-items: center;
     justify-content: space-between;
     padding-right: 60rem;

}