/* SearchBar.css */
.search-bar-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

.search-form {
  display: flex;
}

.search-input {
  padding: 5px;
  flex: 1;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.search-button {
  padding: 5px 10px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  cursor: pointer;
}
