.mainComp{
    width: 365px;
    height: 88vh;
    top: 60px;
    right: -365px;
    background-color: lightgrey;
    position: fixed;
    z-index: 3;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
    justify-content: space-between;
    font-size: 35px;
    text-decoration: none;
    list-style: none;
 

}


.active1{
   background-color: #15023a;
   color: azure;
   right: 0;
   
   
}
.name1:hover{
   font-size: inherit;
   color: inherit;
   font-weight: 900;
   text-decoration:  none;
   list-style: none;
   color: khaki;
   font-size: 40px;
   
}

.name1{
   text-decoration: none;
   margin-top: 1.6rem;
   margin-bottom: 3.5rem;
   color: rgb(227, 93, 93);
}

